<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ngockhanh.clinic.healthcheck.infrastructure.persistence.mapper.ParticipantImportBatchQueryMapper">
    <select id="findById" resultType="com.ngockhanh.clinic.healthcheck.application.importparticipant.ParticipantImportBatchContext">
        SELECT id, organization_id, start_date FROM public.health_examination_batches WHERE id = #{id}
    </select>
</mapper>
